// Paleta de colores
$color-principal: #F2681A;
$color-secundario: #F84E42;
$color-destacado-principal: #F62213;
$color-destacado-secundario: white;
$color-complementario: #1A8BF2;

// Fuente
$font-principal: "Roboto";
$font-secundaria: "Inter";

// Sombra
$sombra: 0px 4px 4px rgba(0,0,0,0.25);
